<button id="navButton">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 52 52"
    fill="none"
    1.618
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <line x1="34" y1="30" x2="18" y2="30"></line>
    <line x1="18" y1="22" x2="34" y2="22"></line>
  </svg>
</button>
<nav id="mainNav">
  <div class="linkContainer">
    {% for item in site.data.navigation %}
      <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
    {% endfor %}
  </div>
</nav>