form {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0.25rem;
  background: var(--foreground-secondary);
  padding: 1rem;
  color: var(--background-primary);
  box-shadow: var(--form-box-shadow);
  border: 1px solid var(--foreground-primary);
  border-left: unset;
  border-bottom: unset;
  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    transform: rotate(1deg);
    border: inherit;
  }
  &:before {
    transform: rotate(-1deg);
  }

  label {
    margin: 0.25rem 0 0rem 0;
    font-weight: 500;
    text-transform: uppercase;
  }
  input,
  textarea {
    padding: 0.5rem;
    margin: 0.25rem 0rem 0.5rem 0;
    font-weight: 600;
    border: unset;
    border-radius: unset;
    border-bottom: 1px dashed var(--background-primary);
    background: rgba(0, 0, 0, 0.1);
    color: var(--background-primary);
    box-shadow: unset;
    &:focus-visible {
      outline: var(--outline);
      outline-offset: var(--outline-offset);
      border-bottom: 1px dashed transparent;
    }
  }
  button {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    background: var(--button-background);
    font-weight: 600;
    color: var(--background-primary);
    text-shadow: var(--button-text-shadow);
    border: var(--button-border);
    box-shadow: var(--button-box-shadow);
    &:active {
      background: var(--foreground-tertiary);
    }
    &:focus-visible {
      outline: var(--outline);
      outline-offset: var(--outline-offset);
    }
  }
}
