
nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 1rem;
  z-index: 8;
  .linkContainer {
    -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    a {
      font-size: 3.42rem;
      background: linear-gradient(#ffffff, #a0a0a0);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      text-decoration: none;
      align-content: right;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      border: 2px solid transparent;
      margin: 0.4rem;
      padding: 0.1rem;
      font-weight: 700;
      letter-spacing: 0.1rem;

      &:active {
        background: rgba(255, 255, 255, 0.05);
      }
      &:hover {
        border-bottom: 2px dashed #6284b7;
      }
    }
  }
}

#navButton {
  width: 3.42rem;
  height: 3.42rem;
  margin: 0.5rem;
  right: 0px;
  top: 0px;
  position: fixed;
  color: #3a434a;
  border: unset;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23),
    inset 1px -1px 0 rgba(255, 255, 255, 0.15),
    inset -1px 1px 0 rgba(0, 0, 0, 0.025);
  z-index: 9;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.65);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  &:focus {
    outline-offset: 2px;
    outline: #93bcf9 solid 2px;
  }
}

#mainNav {
  transition: all 250ms ease;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  &.open {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
}